@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.primary-color {
  color: cornflowerblue;
}

.success-color {
  color: #00CC00;
}

.warning-color {
  color: #F97325;
}

.danger-color {
  color: #FF1A1A;
}

.primary-bg {
  background-color: cornflowerblue;
}

.success-bg {
  background-color: #00CC00;
}

.warning-bg {
  background-color: #F97325;
}

.danger-bg {
  background-color: #FF1A1A;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h2 {
  font-size: 1.55rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  font-weight: 500;
}

small {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

p {
  font-size: 0.85rem;
  font-family: "Manrope", sans-serif;
  color: #262626;
}

button {
  padding: 0 0.75rem;
  height: 2.3rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.icon {
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-icon {
  font-size: 1.15rem;
}

.mid-icon {
  font-size: 1.5rem;
}

.big-icon {
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 1.65rem;
  }
  h2 {
    font-size: 1.45rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
}
.sale-page {
  background-color: #FAFAFA;
  padding-top: 0.5rem;
  height: auto;
  width: 100%;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sale-page main {
  height: calc(100vh - 5.5rem - 2.5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.sale-page .left {
  background-color: #FFFFFF;
  height: 100%;
  width: 60%;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 3rem auto;
  gap: 0.5rem;
}
@media screen and (max-width: 1250px) {
  .sale-page .left {
    width: 65%;
  }
}
@media screen and (max-width: 1030px) {
  .sale-page .left {
    width: 80%;
  }
}
@media screen and (max-width: 830px) {
  .sale-page .left {
    width: 100%;
  }
}
.sale-page .left .top {
  padding-top: 0.2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15rem calc(100% - 16rem);
  gap: 1rem;
}
@media screen and (max-width: 630px) {
  .sale-page .left .top {
    display: grid;
    grid-template-columns: 5rem calc(100% - 6rem);
  }
}
@media screen and (max-width: 420px) {
  .sale-page .left .top {
    display: grid;
    grid-template-columns: 3.5rem calc(100% - 4.5rem);
  }
}
.sale-page .left .top .click-text-group {
  height: 2.5rem;
  width: 100%;
}
.sale-page .left .top .click-text-group button .search-area {
  gap: 0.5rem;
}
.sale-page .left .top .click-text-group button .search-area .clear {
  display: none;
}
.sale-page .left .sale-list {
  height: calc(100vh - 3rem - 4rem - 6rem);
  width: 100%;
  display: grid;
  grid-template-rows: auto 3rem;
  gap: 0.5rem;
}
.sale-page .left .sale-list .dash-bottom-info {
  height: 100%;
  padding-bottom: 0.5rem;
}
.sale-page .left .sale-list .dash-bottom-info ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #F2F2F2;
}
.sale-page .left .sale-list .dash-bottom-info ::-webkit-scrollbar-thumb {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #262626;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder {
  height: 84.5vh;
  height: 80vh;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th {
  width: 8rem;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:first-child {
  width: 4rem;
}
@media screen and (max-width: 1220px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:first-child {
    width: 3rem;
  }
}
@media screen and (max-width: 1415px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(3) {
    height: inherit;
    display: block;
    display: grid;
    place-items: center;
  }
}
@media screen and (max-width: 1070px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(3) {
    display: none;
  }
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(2) {
  width: 12rem;
}
@media screen and (max-width: 1220px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(2) {
    width: 10rem;
  }
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:nth-child(4) {
  width: 10rem;
}
@media screen and (max-width: 1490px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table thead tr th:last-child {
    width: 4rem;
  }
}
@media screen and (max-width: 1415px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(3) {
    display: block;
    height: inherit;
    display: grid;
    place-items: center;
  }
}
@media screen and (max-width: 1070px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(3) {
    display: none;
  }
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) ::-webkit-scrollbar {
  height: 0;
  width: 0;
  background-color: red;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) ::-webkit-scrollbar-thumb {
  height: 0;
  width: 0;
  background-color: red;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub .no-lab-form-group {
  height: 2rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub .no-lab-form-group input {
  height: 2rem;
  width: 4rem;
  border-radius: 0;
  border-color: #F2F2F2;
  padding-left: 1rem;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub .no-lab-form-group input:focus {
  padding-left: 0.5rem;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub button {
  height: 2rem;
  width: 2.5rem;
  border: 1px solid #F2F2F2;
  color: #262626;
  background-color: #F2F2F2;
  transition: all 300ms ease;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub .add-qty:hover {
  background-color: #00CC00;
  color: #FAFAFA;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:nth-child(4) .qty-add-sub .sub-qty:hover {
  background-color: #F97325;
  color: #FAFAFA;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child {
  height: initial;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child .icon {
  display: none;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child button {
  height: 2rem;
  width: 6rem;
  margin: 0 auto;
  background-color: cornflowerblue;
  color: #FAFAFA;
  transition: all 300ms ease;
}
.sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child button:hover {
  background-color: #FF1A1A;
}
@media screen and (max-width: 1490px) {
  .sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child button {
    display: none;
  }
  .sale-page .left .sale-list .dash-bottom-info .table-holder table tbody tr td:last-child .icon {
    display: block;
    margin: auto auto;
  }
}
.sale-page .left .sale-list .sale-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0 0.5rem;
  background-color: #FFFFFF;
  border: 1px solid #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 1rem;
}
.sale-page .left .sale-list .sale-info .items {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sale-page .left .sale-list .sale-info .amt {
  height: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sale-page .left .sale-list .sale-info .amt h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sale-page .right {
  height: 100%;
  width: 40%;
  padding: 0.2rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  background-color: #FAFAFA;
}
@media screen and (max-width: 1250px) {
  .sale-page .right {
    width: 35%;
  }
}
@media screen and (max-width: 1030px) {
  .sale-page .right {
    width: 27.5%;
  }
}
@media screen and (max-width: 830px) {
  .sale-page .right {
    width: 20%;
    display: none;
  }
}
.sale-page .right .product-card {
  background-color: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  height: 7rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}
.sale-page .right .product-card .product-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sale-page .right .product-card .product-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}
.sale-page .right .product-card .product-info .detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sale-page .right .product-card .product-info .detail h4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.foot {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cyan;
}
.foot .left {
  padding: 0.5rem 0.5rem;
  padding-top: 0;
  height: auto;
  width: 100%;
  min-height: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  gap: 1rem;
}
.foot .left button,
.foot .left .btn {
  height: 2.5rem;
  width: 100%;
  color: #FAFAFA;
}
.foot .left .amount {
  height: 2.5rem;
  width: 100%;
  color: #262626;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.all-sales {
  height: auto;
  width: 100%;
  background-color: coral;
}/*# sourceMappingURL=sale.css.map */