@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.primary-color {
  color: cornflowerblue;
}

.success-color {
  color: #00CC00;
}

.warning-color {
  color: #F97325;
}

.danger-color {
  color: #FF1A1A;
}

.primary-bg {
  background-color: cornflowerblue;
}

.success-bg {
  background-color: #00CC00;
}

.warning-bg {
  background-color: #F97325;
}

.danger-bg {
  background-color: #FF1A1A;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h2 {
  font-size: 1.55rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  font-weight: 500;
}

small {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}

p {
  font-size: 0.85rem;
  font-family: "Manrope", sans-serif;
  color: #262626;
}

button {
  padding: 0 0.75rem;
  height: 2.3rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.icon {
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-icon {
  font-size: 1.15rem;
}

.mid-icon {
  font-size: 1.5rem;
}

.big-icon {
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 1.65rem;
  }
  h2 {
    font-size: 1.45rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0.5rem;
}

.filter-btn,
.filter-location {
  background-color: cornflowerblue;
  color: #F2F2F2;
  position: relative;
  overflow: visible;
}
.filter-btn .option,
.filter-location .option {
  z-index: 5;
  height: auto;
  width: 100%;
  min-width: 14rem;
  position: absolute;
  top: 2.4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid cornflowerblue;
  border: 1px solid #262626;
  padding: 0.5rem;
  background-color: #FAFAFA;
}
.filter-btn .option li,
.filter-location .option li {
  height: 2.4rem;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #FAFAFA;
  border-bottom: 1px solid #262626;
  cursor: pointer;
}
.filter-btn .option li input,
.filter-location .option li input {
  display: none;
}
.filter-btn .option li:hover,
.filter-location .option li:hover {
  background-color: #F2F2F2;
}
.filter-btn .option li:nth-child(5),
.filter-location .option li:nth-child(5) {
  height: auto;
  min-height: 2.4rem;
  max-height: 5.8rem;
  padding: 0.25rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
  gap: 1rem;
}
.filter-btn .option li:nth-child(5) input,
.filter-location .option li:nth-child(5) input {
  height: 2rem;
  display: block;
}
.filter-btn .option li:nth-child(5):hover,
.filter-location .option li:nth-child(5):hover {
  background-color: initial;
}
.filter-btn .option li:last-child,
.filter-location .option li:last-child {
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.filter-btn .option li:last-child .unClear,
.filter-location .option li:last-child .unClear {
  height: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.75rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.2rem;
}
.filter-btn .option li:last-child .unClear .icon,
.filter-location .option li:last-child .unClear .icon {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-btn .option li:last-child:hover,
.filter-location .option li:last-child:hover {
  background-color: initial;
}

.filter-location .option li:last-child {
  padding: 0 0.5rem;
}

.container {
  height: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: #F2F2F2;
  position: relative;
  display: grid;
  grid-template-columns: 4rem -webkit-fit-content;
  grid-template-columns: 4rem fit-content;
}
.container nav {
  background-color: #FFFFFF;
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 15rem calc(100% - 15rem);
  padding: 0 0.5rem;
  position: relative;
  overflow: visible;
}
.container nav .aside-nav {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container nav .aside-nav h2 span {
  color: cornflowerblue;
}
.container nav .aside-nav .icon {
  display: none;
}
.container nav .header-nav {
  height: inherit;
  width: 100%;
  display: grid;
  grid-template-columns: 14rem auto;
  position: relative;
  overflow: visible;
}
.container nav .header-nav .left {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: visible;
}
.container nav .header-nav .left button {
  height: 2.3rem;
  background-color: #F2F2F2;
  color: #262626;
}
.container nav .header-nav .right {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.container nav .header-nav .right button {
  background-color: #F2F2F2;
}
.container nav .header-nav .right button p {
  position: absolute;
  top: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1.8rem;
  background-color: cornflowerblue;
  color: #F2F2F2;
  transform: translateZ(10rem);
  border-radius: 0.2rem;
  z-index: 20;
}
.container nav .header-nav .right .date-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.container nav .header-nav .right .lighting {
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container nav .header-nav .right .lighting #light-icon {
  height: 1.5rem;
  width: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  font-size: 1.3rem;
}
.container nav .header-nav .right .lighting #dark-icon {
  height: 1.5rem;
  width: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.container nav .header-nav .right .lighting .light-mode {
  background-color: black;
  color: cornflowerblue;
}
.container nav .header-nav .right .lighting .dark-mode {
  color: black;
  background-color: #F2F2F2;
}
.container nav .header-nav .right .admin {
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container nav .header-nav .right .admin small {
  color: cornflowerblue;
}
.container header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 15rem calc(100% - 15rem);
  background-color: #FFFFFF;
}
.container .aside {
  background-color: #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 15rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.container .aside li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: 2.75rem -webkit-fit-content;
  grid-template-rows: 2.75rem fit-content;
}
.container .aside li .top-list {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.container .aside li .top-list:hover {
  background-color: #F2F2F2;
}
.container .aside li .active-link {
  background-color: #F2F2F2;
}
.container .aside li .drop-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container .aside li .drop-list .aside-drop {
  height: auto;
  width: 85%;
}
.container .aside li .drop-list .aside-drop li {
  height: 2.3rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.container .aside li .drop-list .aside-drop li:hover {
  background-color: #F2F2F2;
}
.container .action-btn {
  height: auto;
  width: auto;
  position: relative;
  overflow: visible;
}
.container .action-btn ul {
  z-index: 5;
  position: absolute;
  height: auto;
  width: 10rem;
  top: 2.1rem;
  left: 0;
  border: 1px solid #262626;
  padding: 0.5rem;
  background-color: #FAFAFA;
}
.container .action-btn ul li {
  height: 2.3rem;
  width: 100%;
  background-color: #FAFAFA;
  padding: 0 0.5rem;
  border-bottom: 1px solid #262626;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 300ms ease;
}
.container .action-btn ul li:last-child {
  border-bottom: none;
}
.container .action-btn ul li:hover {
  background-color: #F2F2F2;
}
.container .action-btn ul li:hover:last-child {
  background-color: #FF1A1A;
  color: #FAFAFA;
}
.container .dash-bottom-info {
  padding: 0.25rem;
  height: 28rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0.2rem;
  display: grid;
  grid-template-rows: 3rem auto;
}
@media screen and (max-width: 800px) {
  .container .dash-bottom-info {
    height: 32rem;
  }
}
.container .dash-bottom-info .table-holder {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.container .dash-bottom-info .table-holder table {
  background-color: #F2F2F2;
  height: auto;
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}
.container .dash-bottom-info .table-holder table thead tr {
  height: 2.5rem;
  background-color: #FFFFFF;
}
.container .dash-bottom-info .table-holder table thead tr th {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #262626;
  font-weight: 500;
}
.container .dash-bottom-info .table-holder table tbody tr {
  height: 2.3rem;
}
.container .dash-bottom-info .table-holder table tbody tr td {
  background-color: #FFFFFF;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  text-align: center;
}
.container .dash-bottom-info .table-holder table tbody tr:nth-child(odd) td {
  background-color: #FAFAFA;
}
.container input {
  height: 2.3rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  padding: 0 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.2rem;
}
.container input:focus {
  outline-color: cornflowerblue;
}
.container .input-form-gp {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.container .input-form-gp label {
  height: 2.3rem;
}
.container .only-input {
  height: auto;
  width: 100%;
  position: relative;
  overflow: visible;
}
.container .only-input .drop-option {
  height: auto;
  width: 100%;
  border-radius: 0.2rem;
  position: absolute;
  top: 2.4rem;
  left: 0;
  z-index: 5;
  min-width: 14rem;
  max-height: 15rem;
  background-color: #FAFAFA;
  border: 1px solid #262626;
  padding: 0.5rem 0;
  gap: 0.5rem;
}
.container .only-input .drop-option ::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
  background-color: #F2F2F2;
}
.container .only-input .drop-option ::-webkit-scrollbar-thumb {
  height: 0.25rem;
  width: 0.25rem;
  background-color: #262626;
}
.container .only-input .drop-option ul li {
  height: 2.3rem;
  width: 100%;
  border-bottom: 1px solid #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  transition: all 300ms ease;
}
.container .only-input .drop-option ul li:last-child {
  border-bottom: none;
}
.container .only-input .drop-option ul li:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}
.container .click-text-group {
  height: auto;
  width: 100%;
  min-height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: visible;
}
.container .click-text-group button {
  position: relative;
  overflow: visible;
  height: 2.3rem;
  width: 100%;
  background-color: cornflowerblue;
  color: #FAFAFA;
}
.container .click-text-group .drop-option {
  border-radius: 0.2rem;
  position: absolute;
  top: 2.4rem;
  left: 0;
  z-index: 5;
  height: auto;
  width: 100%;
  min-width: 14rem;
  max-height: 13.5rem;
  background-color: #FAFAFA;
  border: 1px solid #262626;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 9.1rem 2.4rem;
  gap: 0.5rem;
}
.container .click-text-group .drop-option ::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
  background-color: #F2F2F2;
}
.container .click-text-group .drop-option ::-webkit-scrollbar-thumb {
  height: 0.25rem;
  width: 0.25rem;
  background-color: #262626;
}
.container .click-text-group .drop-option ul li {
  height: 2.3rem;
  width: 100%;
  border-bottom: 1px solid #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
}
.container .click-text-group .drop-option .search-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container .click-text-group .drop-option .search-area button {
  height: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.container .click-text-group .drop-option .search-area button .small-icon {
  color: #FAFAFA;
}
.container .click-text-group .drop-option .search-area .no-lab-form-group {
  height: 2rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .click-text-group .drop-option .search-area .no-lab-form-group input {
  height: 2rem;
}
.container .click-input-gp {
  height: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
}
.container .click-input-gp button {
  height: 2.3rem;
  width: 100%;
  background-color: cornflowerblue;
  color: #FAFAFA;
  overflow: visible;
  position: relative;
}
.container .click-input-gp button ul {
  position: absolute;
  top: 2.4rem;
  left: 0;
  z-index: 5;
  height: auto;
  width: 100%;
  min-width: 14rem;
  background-color: #FAFAFA;
  border: 1px solid #262626;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.container .click-input-gp button ul li {
  height: 2.3rem;
  width: 100%;
  border-bottom: 1px solid #262626;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  transition: all 300ms ease;
}
.container .click-input-gp button ul li input {
  display: none;
}
.container .click-input-gp button ul li label {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #262626;
}
.container .click-input-gp button ul li:last-child {
  height: 2.5rem;
  padding: 0;
  border-bottom: none;
}
.container .click-input-gp button ul li:hover {
  background: #F2F2F2;
}
.container .location-cont {
  height: 2.5rem;
  width: 15rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gold;
}
.container .location-cont button {
  height: 2.5rem;
  width: 15rem;
  background-color: cornflowerblue;
  color: #FAFAFA;
}
.container .location-cont ul.location-option {
  border: 1px solid cornflowerblue;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  position: absolute;
  top: 7.5rem;
  right: 0.4rem;
  background-color: red;
}
.container .location-cont ul.location-option li {
  height: 2.5rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
}
.container .location-cont ul.location-option li input {
  display: none;
}
.container .location-cont ul.location-option li label {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 300ms ease;
}
.container .location-cont ul.location-option li label:nth-child(odd) {
  background-color: #FAFAFA;
}
.container .location-cont ul.location-option li label:hover {
  background-color: cornflowerblue;
}
.container .location-cont ul.location-option li label:hover h4 {
  color: #FAFAFA;
}
.container .notification {
  z-index: 50;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 2.5rem;
  padding: 0 1rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: absolute;
  top: -30rem;
}
.container .notification h4 {
  font-weight: 600;
}
.container .active-notif {
  top: -30rem;
  border-radius: 0.2rem;
  -webkit-animation: showNot 700ms linear forwards;
          animation: showNot 700ms linear forwards;
}
@-webkit-keyframes showNot {
  to {
    top: 3rem;
  }
}
@keyframes showNot {
  to {
    top: 3rem;
  }
}
.container .in-active-notif {
  top: 3rem;
  border-radius: 0.2rem;
  -webkit-animation: hideNot 1400ms linear forwards;
          animation: hideNot 1400ms linear forwards;
}
@-webkit-keyframes hideNot {
  to {
    top: -30rem;
  }
}
@keyframes hideNot {
  to {
    top: -30rem;
  }
}
@media screen and (max-width: 1500px) {
  .container nav .header-nav {
    display: grid;
    grid-template-columns: 12rem auto;
  }
  .container nav .header-nav .right {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 1400px) {
  .container nav .header-nav {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
  }
  .container nav .header-nav .right .profit {
    transition: all 300ms ease;
    display: none;
  }
  .container nav .header-nav .right .lighting {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .container nav {
    display: grid;
    grid-template-columns: 13rem calc(100% - 13rem);
  }
  .container nav .header-nav .right .calc {
    display: none;
  }
  .container header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 13rem calc(100% - 13rem);
  }
  .container header .aside {
    width: 13rem;
  }
}
@media screen and (max-width: 991px) {
  .container nav {
    display: grid;
    grid-template-columns: 4rem calc(100% - 4rem);
  }
  .container nav .aside-nav h2 {
    display: none;
  }
  .container nav .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container nav .header-nav .left {
    display: none;
  }
  .container nav .header-nav .right {
    width: 100%;
    gap: 1.25rem;
  }
  .container nav .header-nav .right .calc {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 4rem calc(100% - 4rem);
  }
  .container header .aside {
    width: 4rem;
  }
  .container header .aside li {
    overflow-x: visible;
  }
  .container header .aside li .top-list h4 {
    position: absolute;
    left: 2.5rem;
  }
  .container header .aside li .top-list .icon {
    font-size: 1.35rem;
  }
  .container header .aside li .drop-list {
    height: auto;
    width: 14rem;
    z-index: 10;
  }
}
@media screen and (max-width: 768px) {
  .container nav {
    height: 3rem;
    display: grid;
    grid-template-columns: 2.5rem calc(100% - 2.5rem);
  }
  .container nav .aside-nav .icon {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    color: cornflowerblue;
  }
  .container nav .header-nav .right .admin,
.container nav .header-nav .right .date-info,
.container nav .header-nav .right .home {
    display: none;
  }
  .container header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    display: flex;
  }
  .container header .aside {
    z-index: 10;
    width: 13rem;
    position: absolute;
  }
  .container .menu-active {
    position: absolute;
    left: -50rem;
    -webkit-animation: showMenu 700ms linear forwards;
            animation: showMenu 700ms linear forwards;
  }
  @-webkit-keyframes showMenu {
    to {
      left: 0rem;
    }
  }
  @keyframes showMenu {
    to {
      left: 0rem;
    }
  }
  .container .menu-exit {
    position: absolute;
    left: 0;
    -webkit-animation: exitMenu 700ms linear forwards;
            animation: exitMenu 700ms linear forwards;
  }
  @-webkit-keyframes exitMenu {
    to {
      left: -50rem;
    }
  }
  @keyframes exitMenu {
    to {
      left: -50rem;
    }
  }
}/*# sourceMappingURL=index.css.map */